@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body{
    font-family: Inter;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

a{
    color: #36C7BF;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}


.app-wrapper{
    max-width: 80%;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

form{
    margin-bottom: 30px;
}

form input{
    border: 1px solid #DEDEDE;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
}

form input::placeholder{
    color: #DEDEDE;
    font-weight: 100;

}

.search-result-wrapper{
    display: flex;
    gap: 2%;
    margin-bottom: 100px;
}

.search-result-wrapper > div {
    flex-basis: 32%;
}

.search-result-wrapper > div img{
    width: 100%;
    margin-bottom: 15px;
}

.search-result-wrapper > div h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}


.recent-wrapper h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;

}

.recent-wrapper div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.recent-wrapper div img {
    width: calc((80vw - 12px - 10px * 7)/8);
}

.overlay-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-inner{
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    position: relative;
}

.overlay-inner button{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    border: none;
    background: transparent;

}

.overlay-inner button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-inner > div {
    display: flex;
    gap: 20px;
}

.overlay-inner > div > div{
    flex-basis: 50%;
}

.overlay-inner h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.overlay-inner img{
    width: 100%;
}

.overlay-inner dt{
    font-weight: bold;
    margin-bottom: 10px;
}

.overlay-inner dd {
    line-height: 1.6;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.8);
}







